In [1]:
#import numpy, pandas and pyplot
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def mergeDataSets(df_list, X_cut = 1):
    """
        This function merges the data frames in df_list in one data_frame.
        The entries of the final data_frame will be ordered by "X"
        X_cut will remove data with X > X_cut from the merged data_set
    """
    data = pd.concat(df_list, ignore_index=True)
    data = data[data["X"] < X_cut]
    data = data.sort_values(by=["X"])
    return data

In [3]:
# Load TPC data
# Table1.csv data
cols_list = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2", "error +", "error -"]
TPC_dataset1_table1 = pd.read_csv("TPC_collaboration_data/dataset1/Table1.csv", skiprows = 12)
TPC_dataset1_table1["Q**2 [GEV**2]"] = 0.24
TPC_dataset1_table1["Q**2 [GEV**2] LOW"] = 0.2
TPC_dataset1_table1["Q**2 [GEV**2] HIGH"] = 0.3
TPC_dataset1_table1 = TPC_dataset1_table1[cols_list]
# Table2.csv data
TPC_dataset1_table2 = pd.read_csv("TPC_collaboration_data/dataset1/Table2.csv", skiprows = 12)
TPC_dataset1_table2["Q**2 [GEV**2]"] = 0.38
TPC_dataset1_table2["Q**2 [GEV**2] LOW"] = 0.3
TPC_dataset1_table2["Q**2 [GEV**2] HIGH"] = 0.5
TPC_dataset1_table2 = TPC_dataset1_table2[cols_list]
# Table3.csv data
TPC_dataset1_table3 = pd.read_csv("TPC_collaboration_data/dataset1/Table3.csv", skiprows = 12)
TPC_dataset1_table3["Q**2 [GEV**2]"] = 0.71
TPC_dataset1_table3["Q**2 [GEV**2] LOW"] = 0.5
TPC_dataset1_table3["Q**2 [GEV**2] HIGH"] = 1.0
TPC_dataset1_table3 = TPC_dataset1_table3[cols_list]
# Table4.csv data
TPC_dataset1_table4 = pd.read_csv("TPC_collaboration_data/dataset1/Table4.csv", skiprows = 12)
TPC_dataset1_table4["Q**2 [GEV**2]"] = 1.3
TPC_dataset1_table4["Q**2 [GEV**2] LOW"] = 1.0
TPC_dataset1_table4["Q**2 [GEV**2] HIGH"] = 1.6
TPC_dataset1_table4 = TPC_dataset1_table4[cols_list]
# Table5.csv data
TPC_dataset1_table5 = pd.read_csv("TPC_collaboration_data/dataset1/Table5.csv", skiprows = 12)
TPC_dataset1_table5["Q**2 [GEV**2]"] = 2.8
TPC_dataset1_table5["Q**2 [GEV**2] LOW"] = 1.8
TPC_dataset1_table5["Q**2 [GEV**2] HIGH"] = 4.0
TPC_dataset1_table5 = TPC_dataset1_table5[cols_list]
# Table6.csv data
TPC_dataset1_table6 = pd.read_csv("TPC_collaboration_data/dataset1/Table6.csv", skiprows = 12)
TPC_dataset1_table6["Q**2 [GEV**2]"] = 5.1
TPC_dataset1_table6["Q**2 [GEV**2] LOW"] = 4.0
TPC_dataset1_table6["Q**2 [GEV**2] HIGH"] = 6.6
TPC_dataset1_table6 = TPC_dataset1_table6[cols_list]
# Table7.csv data
TPC_dataset1_table7 = pd.read_csv("TPC_collaboration_data/dataset1/Table7.csv", skiprows = 12)
TPC_dataset1_table7["X"] = 0.05
TPC_dataset1_table7["X LOW"] = 0.0
TPC_dataset1_table7["X HIGH"] = 0.1
TPC_dataset1_table7 = TPC_dataset1_table7[cols_list]
# Table8.csv data
TPC_dataset1_table8 = pd.read_csv("TPC_collaboration_data/dataset1/Table8.csv", skiprows = 12)
TPC_dataset1_table8["X"] = 0.15
TPC_dataset1_table8["X LOW"] = 0.1
TPC_dataset1_table8["X HIGH"] = 0.2
TPC_dataset1_table8 = TPC_dataset1_table8[cols_list]
# Table9.csv data
TPC_dataset1_table9 = pd.read_csv("TPC_collaboration_data/dataset1/Table9.csv", skiprows = 12)
TPC_dataset1_table9["X"] = 0.25
TPC_dataset1_table9["X LOW"] = 0.2
TPC_dataset1_table9["X HIGH"] = 0.3
TPC_dataset1_table9 = TPC_dataset1_table9[cols_list]
# Table10.csv data
TPC_dataset1_table10 = pd.read_csv("TPC_collaboration_data/dataset1/Table10.csv", skiprows = 12)
TPC_dataset1_table10["X"] = 0.45
TPC_dataset1_table10["X LOW"] = 0.3
TPC_dataset1_table10["X HIGH"] = 0.6
TPC_dataset1_table10 = TPC_dataset1_table10[cols_list]
# Table11.csv data
TPC_dataset1_table11 = pd.read_csv("TPC_collaboration_data/dataset1/Table11.csv", skiprows = 12)
TPC_dataset1_table11["Q**2 [GEV**2]"] = 0.7
TPC_dataset1_table11["Q**2 [GEV**2] LOW"] = 0.3
TPC_dataset1_table11["Q**2 [GEV**2] HIGH"] = 1.6
TPC_dataset1_table11 = TPC_dataset1_table11[cols_list]

In [4]:
# Load DELPHI data
cols_list = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2/ALPHA", "stat +", "stat -", "sys +", "sys -"]
# Table1.csv data
DELPHI_dataset1_table1 = pd.read_csv("DELPHI_collaboration_data/dataset1/Table1.csv", skiprows = 11)
DELPHI_dataset1_table1["Q**2 [GEV**2]"] = 12.0
DELPHI_dataset1_table1["Q**2 [GEV**2] LOW"] = 4.0
DELPHI_dataset1_table1["Q**2 [GEV**2] HIGH"] = 30.0
DELPHI_dataset1_table1 = DELPHI_dataset1_table1[cols_list]
# Table2.csv data
DELPHI_dataset1_table2 = pd.read_csv("DELPHI_collaboration_data/dataset1/Table2.csv", skiprows = 12)
DELPHI_dataset1_table2["Q**2 [GEV**2]"] = 12.0
DELPHI_dataset1_table2["Q**2 [GEV**2] LOW"] = 4.0
DELPHI_dataset1_table2["Q**2 [GEV**2] HIGH"] = 30.0
DELPHI_dataset1_table2 = DELPHI_dataset1_table2[cols_list]

In [5]:
# Load ALEPH data
cols_list = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2/ALPHAE", "stat +", "stat -", "sys +", "sys -"]
# Table4.csv data
ALEPH_dataset1_table4 = pd.read_csv("ALEPH_collaboration_data/dataset1/Table4.csv", skiprows = 12)
ALEPH_dataset1_table4["Q**2 [GEV**2]"] = 284.0
ALEPH_dataset1_table4["Q**2 [GEV**2] LOW"] = (284.0-49)
ALEPH_dataset1_table4["Q**2 [GEV**2] HIGH"] = (284.0+49.0)
ALEPH_dataset1_table4 = ALEPH_dataset1_table4[cols_list]
# Table6.csv data
ALEPH_dataset1_table6 = pd.read_csv("ALEPH_collaboration_data/dataset1/Table6.csv", skiprows = 12)
ALEPH_dataset1_table6["Q**2 [GEV**2]"] = 20.67
ALEPH_dataset1_table6["Q**2 [GEV**2] LOW"] = (20.67-0.16)
ALEPH_dataset1_table6["Q**2 [GEV**2] HIGH"] = (20.67+0.16)
ALEPH_dataset1_table6 = ALEPH_dataset1_table6[cols_list]
# Table8.csv data
ALEPH_dataset1_table8 = pd.read_csv("ALEPH_collaboration_data/dataset1/Table8.csv", skiprows = 12)
ALEPH_dataset1_table8["Q**2 [GEV**2]"] = 9.93
ALEPH_dataset1_table8["Q**2 [GEV**2] LOW"] = (9.93-0.04)
ALEPH_dataset1_table8["Q**2 [GEV**2] HIGH"] = (9.93+0.04)
ALEPH_dataset1_table8 = ALEPH_dataset1_table8[cols_list]
# Table1.csv data
cols_list = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2(C=GAMMA)/ALPHAE", "stat +", "stat -", "sys +", "sys -"]
ALEPH_dataset2_table1 = pd.read_csv("ALEPH_collaboration_data/dataset2/Table1.csv", skiprows = 12)
ALEPH_dataset2_table1["Q**2 [GEV**2]"] = 17.3
ALEPH_dataset2_table1["Q**2 [GEV**2] LOW"] = 0.0
ALEPH_dataset2_table1["Q**2 [GEV**2] HIGH"] = 0.0
ALEPH_dataset2_table1 = ALEPH_dataset2_table1[cols_list]
# Table2.csv data
ALEPH_dataset2_table2 = pd.read_csv("ALEPH_collaboration_data/dataset2/Table2.csv", skiprows = 12)
ALEPH_dataset2_table2["Q**2 [GEV**2]"] = 67.2
ALEPH_dataset2_table2["Q**2 [GEV**2] LOW"] = 30.0
ALEPH_dataset2_table2["Q**2 [GEV**2] HIGH"] = 250.0
ALEPH_dataset2_table2 = ALEPH_dataset2_table2[cols_list]

In [6]:
# Load L3 data
# Dataset1
# Load Table1.csv
cols_list_set1 = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2(C=SET1)/ALPHA", "stat +", "stat -", "sys +", "sys -"]
cols_list_set2 = ["X", "X LOW", "X HIGH", "Q**2 [GEV**2]", "Q**2 [GEV**2] LOW", "Q**2 [GEV**2] HIGH", "F2(C=SET2)/ALPHA", "stat +", "stat -", "sys +", "sys -"]
L3_dataset1_table1_raw = pd.read_csv("L3_collaboration_data/dataset1/Table1.csv", skiprows = 11)
L3_dataset1_table1_set1 = L3_dataset1_table1_raw[:][:6]
L3_dataset1_table1_set2 = L3_dataset1_table1_raw[:][10:]
L3_dataset1_table1_set2.columns = ['X', 'X LOW', 'X HIGH', 'F2(C=SET2)/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']
L3_dataset1_table1_set1["Q**2 [GEV**2]"] = 1.9
L3_dataset1_table1_set1["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table1_set1["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table1_set2["Q**2 [GEV**2]"] = 1.9
L3_dataset1_table1_set2["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table1_set2["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table1_set1 = L3_dataset1_table1_set1[cols_list_set1]
L3_dataset1_table1_set2 = L3_dataset1_table1_set2[cols_list_set2]
# Load Table2.csv
L3_dataset1_table2_raw = pd.read_csv("L3_collaboration_data/dataset1/Table2.csv", skiprows = 11)
L3_dataset1_table2_set1 = L3_dataset1_table2_raw[:][:6]
L3_dataset1_table2_set2 = L3_dataset1_table2_raw[:][10:]
L3_dataset1_table2_set2.columns = ['X', 'X LOW', 'X HIGH', 'F2(C=SET2)/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']
L3_dataset1_table2_set1["Q**2 [GEV**2]"] = 5.0
L3_dataset1_table2_set1["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table2_set1["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table2_set2["Q**2 [GEV**2]"] = 5.0
L3_dataset1_table2_set2["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table2_set2["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table2_set1 = L3_dataset1_table2_set1[cols_list_set1]
L3_dataset1_table2_set2 = L3_dataset1_table2_set2[cols_list_set2]
# Load Table3.csv
L3_dataset1_table3_raw = pd.read_csv("L3_collaboration_data/dataset1/Table3.csv", skiprows = 11)
# Load set1
L3_dataset1_table3_set1 = L3_dataset1_table3_raw[:][:4]
L3_dataset1_table3_set1["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table3_set1["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table3_set1["X"] = 0.5 * (0.01 + 0.1)
L3_dataset1_table3_set1["X LOW"] = 0.01
L3_dataset1_table3_set1["X HIGH"] = 0.1
L3_dataset1_table3_set1.columns = ["Q**2 [GEV**2]",'F2(C=SET1)/ALPHA', 'stat +', 'stat -', 'sys +', 'sys -',
                                   "Q**2 [GEV**2] LOW","Q**2 [GEV**2] HIGH", 'X', 'X LOW', 'X HIGH']
L3_dataset1_table3_set1 = L3_dataset1_table3_set1[cols_list_set1]
# Load set2
L3_dataset1_table3_set2 = L3_dataset1_table3_raw[:][8:]
L3_dataset1_table3_set2["Q**2 [GEV**2] LOW"] = 0.0
L3_dataset1_table3_set2["Q**2 [GEV**2] HIGH"] = 0.0
L3_dataset1_table3_set2["X"] = 0.5 * (0.01 + 0.1)
L3_dataset1_table3_set2["X LOW"] = 0.01
L3_dataset1_table3_set2["X HIGH"] = 0.1
L3_dataset1_table3_set2.columns = ["Q**2 [GEV**2]",'F2(C=SET2)/ALPHA', 'stat +', 'stat -', 'sys +', 'sys -',
                                   "Q**2 [GEV**2] LOW","Q**2 [GEV**2] HIGH", 'X', 'X LOW', 'X HIGH']
L3_dataset1_table3_set2 = L3_dataset1_table3_set2[cols_list_set2]
# Dataset 2
# Table1.csv
L3_dataset2_table1_raw = pd.read_csv("L3_collaboration_data/dataset2/Table1.csv", skiprows = 12)
L3_dataset2_table1_set1 = L3_dataset2_table1_raw[:][:3]
L3_dataset2_table1_set1["Q**2 [GEV**2]"] = 10.8
L3_dataset2_table1_set1["Q**2 [GEV**2] LOW"] = 9.0
L3_dataset2_table1_set1["Q**2 [GEV**2] HIGH"] = 13.0
L3_dataset2_table1_set2 = L3_dataset2_table1_raw[:][8:12]
L3_dataset2_table1_set2["Q**2 [GEV**2]"] = 15.3
L3_dataset2_table1_set2["Q**2 [GEV**2] LOW"] = 13.0
L3_dataset2_table1_set2["Q**2 [GEV**2] HIGH"] = 18.0
L3_dataset2_table1_set3 = L3_dataset2_table1_raw[:][16:]
L3_dataset2_table1_set3["Q**2 [GEV**2]"] = 23.1
L3_dataset2_table1_set3["Q**2 [GEV**2] LOW"] = 18.0
L3_dataset2_table1_set3["Q**2 [GEV**2] HIGH"] = 30.0
# Dataset3
# Table1.csv
L3_dataset3_table1 = pd.read_csv("L3_collaboration_data/dataset3/Table1.csv", skiprows = 12)
L3_dataset3_table1["Q**2 [GEV**2]"] = 120.0
L3_dataset3_table1["Q**2 [GEV**2] LOW"] = 50.0
L3_dataset3_table1["Q**2 [GEV**2] HIGH"] = 400.0
L3_dataset3_table1 = L3_dataset3_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table2.csv
L3_dataset3_table2_raw = pd.read_csv("L3_collaboration_data/dataset3/Table2.csv", skiprows = 12)
L3_dataset3_table2_set1 = L3_dataset3_table2_raw[:][:4]
L3_dataset3_table2_set1["X"] = (0.05 + 0.98) / 2
L3_dataset3_table2_set1["X LOW"] = 0.05
L3_dataset3_table2_set1["X HIGH"] = 0.98
L3_dataset3_table2_set1["Q**2 [GEV**2] LOW"] = 0
L3_dataset3_table2_set1["Q**2 [GEV**2] HIGH"] = 0
L3_dataset3_table2_set1 = L3_dataset3_table2_set1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
L3_dataset3_table2_set2 = L3_dataset3_table2_raw[:][9:13]
L3_dataset3_table2_set2["X"] = (0.3 + 0.8) / 2
L3_dataset3_table2_set2["X LOW"] = 0.3
L3_dataset3_table2_set2["X HIGH"] = 0.8
L3_dataset3_table2_set2["Q**2 [GEV**2] LOW"] = 0
L3_dataset3_table2_set2["Q**2 [GEV**2] HIGH"] = 0
L3_dataset3_table2_set2 = L3_dataset3_table2_set1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
L3_dataset3_table2_set3 = L3_dataset3_table2_raw[:][18:22]
L3_dataset3_table2_set3["X"] = (0.1 + 0.6) / 2
L3_dataset3_table2_set3["X LOW"] = 0.1
L3_dataset3_table2_set3["X HIGH"] = 0.6
L3_dataset3_table2_set3["Q**2 [GEV**2] LOW"] = 0
L3_dataset3_table2_set3["Q**2 [GEV**2] HIGH"] = 0
L3_dataset3_table2_set3 = L3_dataset3_table2_set1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]

In [7]:
# OPAL data
# Dataset1
# Table1.csv
OPAL_dataset1_table1 = pd.read_csv("OPAL_collaboration_data/dataset1/Table1.csv", skiprows = 11)
OPAL_dataset1_table1["Q**2 [GEV**2]"] = 7.5
OPAL_dataset1_table1["Q**2 [GEV**2] LOW"] = 0.0
OPAL_dataset1_table1["Q**2 [GEV**2] HIGH"] = 0.0
OPAL_dataset1_table1 = OPAL_dataset1_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table2.csv
OPAL_dataset1_table2 = pd.read_csv("OPAL_collaboration_data/dataset1/Table2.csv", skiprows = 11)
OPAL_dataset1_table2["Q**2 [GEV**2]"] = 14.7
OPAL_dataset1_table2["Q**2 [GEV**2] LOW"] = 0.0
OPAL_dataset1_table2["Q**2 [GEV**2] HIGH"] = 0.0
OPAL_dataset1_table2 = OPAL_dataset1_table2[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table3.csv
OPAL_dataset1_table3 = pd.read_csv("OPAL_collaboration_data/dataset1/Table3.csv", skiprows = 11)
OPAL_dataset1_table3["Q**2 [GEV**2]"] = 135.0
OPAL_dataset1_table3["Q**2 [GEV**2] LOW"] = 0.0
OPAL_dataset1_table3["Q**2 [GEV**2] HIGH"] = 0.0
OPAL_dataset1_table3 = OPAL_dataset1_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table4.csv
OPAL_dataset1_table4 = pd.read_csv("OPAL_collaboration_data/dataset1/Table4.csv", skiprows = 12)
OPAL_dataset1_table4["Q**2 [GEV**2] LOW"] = 6.0
OPAL_dataset1_table4["Q**2 [GEV**2] HIGH"] = 400.0
OPAL_dataset1_table4["X"] = (0.1 + 0.6) / 2
OPAL_dataset1_table4["X LOW"] = 0.1
OPAL_dataset1_table4["X HIGH"] = 0.6
OPAL_dataset1_table4 = OPAL_dataset1_table4[['X', 'X LOW', 'X HIGH', 'Q2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset1_table4.columns = ['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +',
       'sys -']
# Dataset2
# Table1.csv
OPAL_dataset2_table1_raw = pd.read_csv("OPAL_collaboration_data/dataset2/Table1.csv", skiprows = 13)
OPAL_dataset2_table1_set1 = OPAL_dataset2_table1_raw[:][:3]
OPAL_dataset2_table1_set1["Q**2 [GeV**2]"] = 9.0
OPAL_dataset2_table1_set1["Q**2 [GeV**2] LOW"] = 6.0
OPAL_dataset2_table1_set1["Q**2 [GeV**2] HIGH"] = 11.0
OPAL_dataset2_table1_set1 = OPAL_dataset2_table1_set1[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
OPAL_dataset2_table1_set2 = OPAL_dataset2_table1_raw[:][8:11]
OPAL_dataset2_table1_set2["Q**2 [GeV**2]"] = 14.5
OPAL_dataset2_table1_set2["Q**2 [GeV**2] LOW"] = 11.0
OPAL_dataset2_table1_set2["Q**2 [GeV**2] HIGH"] = 20.0
OPAL_dataset2_table1_set2 = OPAL_dataset2_table1_set2[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
OPAL_dataset2_table1_set3 = OPAL_dataset2_table1_raw[:][16:]
OPAL_dataset2_table1_set3["Q**2 [GeV**2]"] = 11.0
OPAL_dataset2_table1_set3["Q**2 [GeV**2] LOW"] = 6.0
OPAL_dataset2_table1_set3["Q**2 [GeV**2] HIGH"] = 20.0
OPAL_dataset2_table1_set3 = OPAL_dataset2_table1_set3[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table2.csv
OPAL_dataset2_table2_raw = pd.read_csv("OPAL_collaboration_data/dataset2/Table2.csv", skiprows = 13)
OPAL_dataset2_table2_set1 = OPAL_dataset2_table2_raw[:][:4]
OPAL_dataset2_table2_set1["Q**2 [GeV**2]"] = 30.0
OPAL_dataset2_table2_set1["Q**2 [GeV**2] LOW"] = 20.0
OPAL_dataset2_table2_set1["Q**2 [GeV**2] HIGH"] = 40.0
OPAL_dataset2_table2_set1 = OPAL_dataset2_table2_set1[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
OPAL_dataset2_table2_set2 = OPAL_dataset2_table2_raw[:][9:13]
OPAL_dataset2_table2_set2["Q**2 [GeV**2]"] = 59.0
OPAL_dataset2_table2_set2["Q**2 [GeV**2] LOW"] = 40.0
OPAL_dataset2_table2_set2["Q**2 [GeV**2] HIGH"] = 100.0
OPAL_dataset2_table2_set2 = OPAL_dataset2_table2_set2[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
OPAL_dataset2_table2_set3 = OPAL_dataset2_table2_raw[:][18:]
OPAL_dataset2_table2_set3["Q**2 [GeV**2]"] = 41.0
OPAL_dataset2_table2_set3["Q**2 [GeV**2] LOW"] = 20.0
OPAL_dataset2_table2_set3["Q**2 [GeV**2] HIGH"] = 100.0
OPAL_dataset2_table2_set3 = OPAL_dataset2_table2_set3[['X', 'X LOW', 'X HIGH', "Q**2 [GeV**2]", "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table3.csv
OPAL_dataset2_table3 = pd.read_csv("OPAL_collaboration_data/dataset2/Table3.csv", skiprows = 13)
OPAL_dataset2_table3 = OPAL_dataset2_table3[:][4:]
OPAL_dataset2_table3["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table3["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table3["X"] = (0.1 + 0.6) / 2
OPAL_dataset2_table3["X LOW"] = 0.1
OPAL_dataset2_table3["X HIGH"] = 0.6
OPAL_dataset2_table3 = OPAL_dataset2_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Table4.csv
OPAL_dataset2_table4_raw = pd.read_csv("OPAL_collaboration_data/dataset2/Table4.csv", skiprows = 13) 
OPAL_dataset2_table4_set1 = OPAL_dataset2_table4_raw[:][:4]
OPAL_dataset2_table4_set1["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set1["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set1["X"] = (0.02 + 0.1) / 2
OPAL_dataset2_table4_set1["X LOW"] = 0.02
OPAL_dataset2_table4_set1["X HIGH"] = 0.1
OPAL_dataset2_table4_set1 = OPAL_dataset2_table4_set1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset2_table4_set2 = OPAL_dataset2_table4_raw[:][6:7]
OPAL_dataset2_table4_set2["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set2["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set2["X"] = (0.02 + 0.1) / 2
OPAL_dataset2_table4_set2["X LOW"] = 0.02
OPAL_dataset2_table4_set2["X HIGH"] = 0.1
OPAL_dataset2_table4_set2 = OPAL_dataset2_table4_set2[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset2_table4_set3 = OPAL_dataset2_table4_raw[:][13:17]
OPAL_dataset2_table4_set3["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set3["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set3["X"] = (0.1 + 0.25) / 2
OPAL_dataset2_table4_set3["X LOW"] = 0.1
OPAL_dataset2_table4_set3["X HIGH"] = 0.25
OPAL_dataset2_table4_set3 = OPAL_dataset2_table4_set3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset2_table4_set4 = OPAL_dataset2_table4_raw[:][18:19]
OPAL_dataset2_table4_set4["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set4["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set4["X"] = (0.1 + 0.25) / 2
OPAL_dataset2_table4_set4["X LOW"] = 0.1
OPAL_dataset2_table4_set4["X HIGH"] = 0.25
OPAL_dataset2_table4_set4 = OPAL_dataset2_table4_set4[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset2_table4_set5 = OPAL_dataset2_table4_raw[:][26:29]
OPAL_dataset2_table4_set5["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set5["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set5["X"] = (0.25 + 0.6) / 2
OPAL_dataset2_table4_set5["X LOW"] = 0.25
OPAL_dataset2_table4_set5["X HIGH"] = 0.6
OPAL_dataset2_table4_set5 = OPAL_dataset2_table4_set5[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
OPAL_dataset2_table4_set6 = OPAL_dataset2_table4_raw[:][30:]
OPAL_dataset2_table4_set6["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset2_table4_set6["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset2_table4_set6["X"] = (0.25 + 0.6) / 2
OPAL_dataset2_table4_set6["X LOW"] = 0.25
OPAL_dataset2_table4_set6["X HIGH"] = 0.6
OPAL_dataset2_table4_set6 = OPAL_dataset2_table4_set6[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +',
       'sys -']]
# Dataset3
# Table1.csv
OPAL_dataset3_table1_raw = pd.read_csv("OPAL_collaboration_data/dataset3/Table1.csv", skiprows = 12) 
OPAL_dataset3_table1_raw["Q**2 [GeV**2]"] = 1.86
OPAL_dataset3_table1_raw["Q**2 [GeV**2] LOW"] = 1.1
OPAL_dataset3_table1_raw["Q**2 [GeV**2] HIGH"] = 2.5
OPAL_dataset3_table1 = OPAL_dataset3_table1_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table2.csv
OPAL_dataset3_table2_raw = pd.read_csv("OPAL_collaboration_data/dataset3/Table2.csv", skiprows = 12)
OPAL_dataset3_table2_raw["Q**2 [GeV**2]"] = 3.76
OPAL_dataset3_table2_raw["Q**2 [GeV**2] LOW"] = 2.5
OPAL_dataset3_table2_raw["Q**2 [GeV**2] HIGH"] = 6.6
OPAL_dataset3_table2 = OPAL_dataset3_table2_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]

# Dataset4
# Table1.csv
OPAL_dataset4_table1_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table1.csv", skiprows = 13) 
OPAL_dataset4_table1_raw["Q**2 [GeV**2]"] = 1.9
OPAL_dataset4_table1_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table1_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table1 = OPAL_dataset4_table1_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table2.csv
OPAL_dataset4_table2_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table2.csv", skiprows = 13) 
OPAL_dataset4_table2_raw["Q**2 [GeV**2]"] = 3.7
OPAL_dataset4_table2_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table2_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table2 = OPAL_dataset4_table2_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table3.csv
OPAL_dataset4_table3_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table3.csv", skiprows = 13) 
OPAL_dataset4_table3_raw["Q**2 [GeV**2]"] = 8.9
OPAL_dataset4_table3_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table3_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table3 = OPAL_dataset4_table3_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table4.csv
OPAL_dataset4_table4_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table4.csv", skiprows = 13) 
OPAL_dataset4_table4_raw["Q**2 [GeV**2]"] = 10.7
OPAL_dataset4_table4_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table4_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table4 = OPAL_dataset4_table4_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table5.csv
OPAL_dataset4_table5_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table5.csv", skiprows = 13) 
OPAL_dataset4_table5_raw["Q**2 [GeV**2]"] = 17.5
OPAL_dataset4_table5_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table5_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table5 = OPAL_dataset4_table5_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]
# Table6.csv
OPAL_dataset4_table6_raw = pd.read_csv("OPAL_collaboration_data/dataset4/Table6.csv", skiprows = 13) 
OPAL_dataset4_table6_raw["Q**2 [GeV**2]"] = 17.8
OPAL_dataset4_table6_raw["Q**2 [GeV**2] LOW"] = 0.0
OPAL_dataset4_table6_raw["Q**2 [GeV**2] HIGH"] = 0.0
OPAL_dataset4_table6 = OPAL_dataset4_table6_raw[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHAE', 'stat +', 'stat -', 'sys +','sys -']]

# Dataset5
# Table1.csv
OPAL_dataset5_table1_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table1.csv", skiprows = 14) 
OPAL_dataset5_table1 = OPAL_dataset5_table1_raw[:][:3]
OPAL_dataset5_table1["Q**2 [GeV**2]"] = 780.0
OPAL_dataset5_table1["Q**2 [GeV**2] LOW"] = 400.0
OPAL_dataset5_table1["Q**2 [GeV**2] HIGH"] = 2350.0
OPAL_dataset5_table1 = OPAL_dataset5_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table3.csv
OPAL_dataset5_table3_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table3.csv", skiprows = 12) 
OPAL_dataset5_table3 = OPAL_dataset5_table3_raw[:][:2]
OPAL_dataset5_table3["Q**2 [GeV**2]"] = 12.1
OPAL_dataset5_table3["Q**2 [GeV**2] LOW"] = 9.0
OPAL_dataset5_table3["Q**2 [GeV**2] HIGH"] = 15.0
OPAL_dataset5_table3 = OPAL_dataset5_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table4.csv
OPAL_dataset5_table4_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table4.csv", skiprows = 12) 
OPAL_dataset5_table4 = OPAL_dataset5_table4_raw[:][:2]
OPAL_dataset5_table4["Q**2 [GeV**2]"] = 19.9
OPAL_dataset5_table4["Q**2 [GeV**2] LOW"] = 15.0
OPAL_dataset5_table4["Q**2 [GeV**2] HIGH"] = 30.0
OPAL_dataset5_table4 = OPAL_dataset5_table4[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table5.csv
OPAL_dataset5_table5_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table5.csv", skiprows = 12) 
OPAL_dataset5_table5 = OPAL_dataset5_table5_raw[:][:3]
OPAL_dataset5_table5["Q**2 [GeV**2]"] = 39.7
OPAL_dataset5_table5["Q**2 [GeV**2] LOW"] = 30.0
OPAL_dataset5_table5["Q**2 [GeV**2] HIGH"] = 50.0
OPAL_dataset5_table5 = OPAL_dataset5_table5[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table6.csv
OPAL_dataset5_table6_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table6.csv", skiprows = 12) 
OPAL_dataset5_table6 = OPAL_dataset5_table6_raw[:][:3]
OPAL_dataset5_table6["Q**2 [GeV**2]"] = 76.4
OPAL_dataset5_table6["Q**2 [GeV**2] LOW"] = 50.0
OPAL_dataset5_table6["Q**2 [GeV**2] HIGH"] = 150.0
OPAL_dataset5_table6 = OPAL_dataset5_table6[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table7.csv
OPAL_dataset5_table7_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table7.csv", skiprows = 12) 
OPAL_dataset5_table7 = OPAL_dataset5_table7_raw[:][:2]
OPAL_dataset5_table7["Q**2 [GeV**2]"] = 780.0
OPAL_dataset5_table7["Q**2 [GeV**2] LOW"] = 400.0
OPAL_dataset5_table7["Q**2 [GeV**2] HIGH"] = 2350.0
OPAL_dataset5_table7 = OPAL_dataset5_table7[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', "Q**2 [GeV**2] LOW", "Q**2 [GeV**2] HIGH", 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table13.csv
OPAL_dataset5_table13_raw = pd.read_csv("OPAL_collaboration_data/dataset5/Table13.csv", skiprows = 12) 
OPAL_dataset5_table13 = OPAL_dataset5_table13_raw[:][:5]
OPAL_dataset5_table13["X"] = 0.5 * (0.1 + 0.6)
OPAL_dataset5_table13["X LOW"] = 0.1
OPAL_dataset5_table13["X HIGH"] = 0.6
OPAL_dataset5_table13 = OPAL_dataset5_table13[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]

In [8]:
# Load AMY data
# Dataset1
# Table1.csv
AMY_dataset1_table1 = pd.read_csv("AMY_collaboration_data/dataset1/Table1.csv", skiprows = 11)
AMY_dataset1_table1["X LOW"] = 0.0
AMY_dataset1_table1["X HIGH"] = 0.0
AMY_dataset1_table1["Q**2 [GeV**2]"] = 73.0
AMY_dataset1_table1["Q**2 [GeV**2] LOW"] = 0.0
AMY_dataset1_table1["Q**2 [GeV**2] HIGH"] = 0.0
AMY_dataset1_table1 = AMY_dataset1_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table2.csv
AMY_dataset1_table2 = pd.read_csv("AMY_collaboration_data/dataset1/Table2.csv", skiprows = 11)
AMY_dataset1_table2["X LOW"] = 0.0
AMY_dataset1_table2["X HIGH"] = 0.0
AMY_dataset1_table2["Q**2 [GeV**2]"] = 390.0
AMY_dataset1_table2["Q**2 [GeV**2] LOW"] = 0.0
AMY_dataset1_table2["Q**2 [GeV**2] HIGH"] = 0.0
AMY_dataset1_table2 = AMY_dataset1_table2[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table3.csv
AMY_dataset1_table3 = pd.read_csv("AMY_collaboration_data/dataset1/Table3.csv", skiprows = 12)
AMY_dataset1_table3["X"] = 0.5 * (0.3 + 0.8)
AMY_dataset1_table3["X LOW"] = 0.3
AMY_dataset1_table3["X HIGH"] = 0.8
AMY_dataset1_table3["Q**2 [GeV**2] LOW"] = 0.0
AMY_dataset1_table3["Q**2 [GeV**2] HIGH"] = 0.0
AMY_dataset1_table3 = AMY_dataset1_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +','error -']]
# Dataset2
# Table1.csv
AMY_dataset2_table1 = pd.read_csv("AMY_collaboration_data/dataset2/Table1.csv", skiprows = 11)
AMY_dataset2_table1["Q**2 [GeV**2]"] = 6.8
AMY_dataset2_table1["Q**2 [GeV**2] LOW"] = 3.5
AMY_dataset2_table1["Q**2 [GeV**2] HIGH"] = 12
AMY_dataset2_table1 = AMY_dataset2_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +','sys -']]
# Table2.csv

In [9]:
# Load PLUTO data
# Dataset1
# Table1.csv
PLUTO_dataset1_table1_raw = pd.read_csv("PLUTO_collaboration_data/dataset1/Table1.csv", skiprows = 11)
PLUTO_dataset1_table1 = PLUTO_dataset1_table1_raw[:][:3]
PLUTO_dataset1_table1["Q**2 [GeV**2]"] = 2.4
PLUTO_dataset1_table1["Q**2 [GeV**2] LOW"] = 1.5
PLUTO_dataset1_table1["Q**2 [GeV**2] HIGH"] = 3
PLUTO_dataset1_table1 = PLUTO_dataset1_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
PLUTO_dataset1_table1_without_charm = PLUTO_dataset1_table1_raw[:][7:]
PLUTO_dataset1_table1_without_charm["Q**2 [GeV**2]"] = 2.4
PLUTO_dataset1_table1_without_charm["Q**2 [GeV**2] LOW"] = 1.5
PLUTO_dataset1_table1_without_charm["Q**2 [GeV**2] HIGH"] = 3
PLUTO_dataset1_table1_without_charm = PLUTO_dataset1_table1_without_charm[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Table2.csv
PLUTO_dataset1_table2_raw = pd.read_csv("PLUTO_collaboration_data/dataset1/Table2.csv", skiprows = 11)
PLUTO_dataset1_table2 = PLUTO_dataset1_table2_raw[:][:3]
PLUTO_dataset1_table2["Q**2 [GeV**2]"] = 4.3
PLUTO_dataset1_table2["Q**2 [GeV**2] LOW"] = 3
PLUTO_dataset1_table2["Q**2 [GeV**2] HIGH"] = 6
PLUTO_dataset1_table2 = PLUTO_dataset1_table2[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
PLUTO_dataset1_table2_without_charm = PLUTO_dataset1_table2_raw[:][7:]
PLUTO_dataset1_table2_without_charm["Q**2 [GeV**2]"] = 4.3
PLUTO_dataset1_table2_without_charm["Q**2 [GeV**2] LOW"] = 3
PLUTO_dataset1_table2_without_charm["Q**2 [GeV**2] HIGH"] = 6
PLUTO_dataset1_table2_without_charm = PLUTO_dataset1_table2_without_charm[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Table3.csv
PLUTO_dataset1_table3_raw = pd.read_csv("PLUTO_collaboration_data/dataset1/Table3.csv", skiprows = 11)
PLUTO_dataset1_table3 = PLUTO_dataset1_table3_raw[:][:3]
PLUTO_dataset1_table3["Q**2 [GeV**2]"] = 9.2
PLUTO_dataset1_table3["Q**2 [GeV**2] LOW"] = 6
PLUTO_dataset1_table3["Q**2 [GeV**2] HIGH"] = 16
PLUTO_dataset1_table3 = PLUTO_dataset1_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
PLUTO_dataset1_table3_without_charm = PLUTO_dataset1_table3_raw[:][7:]
PLUTO_dataset1_table3_without_charm["Q**2 [GeV**2]"] = 9.2
PLUTO_dataset1_table3_without_charm["Q**2 [GeV**2] LOW"] = 6
PLUTO_dataset1_table3_without_charm["Q**2 [GeV**2] HIGH"] = 16
PLUTO_dataset1_table3_without_charm = PLUTO_dataset1_table3_without_charm[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Table4.csv
PLUTO_dataset1_table4_raw = pd.read_csv("PLUTO_collaboration_data/dataset1/Table4.csv", skiprows = 11)
PLUTO_dataset1_table4 = PLUTO_dataset1_table4_raw[:][:6]
PLUTO_dataset1_table4["Q**2 [GeV**2]"] = 5.3
PLUTO_dataset1_table4["Q**2 [GeV**2] LOW"] = 1.5
PLUTO_dataset1_table4["Q**2 [GeV**2] HIGH"] = 16
PLUTO_dataset1_table4 = PLUTO_dataset1_table4[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
PLUTO_dataset1_table4_without_charm = PLUTO_dataset1_table4_raw[:][10:]
PLUTO_dataset1_table4_without_charm["Q**2 [GeV**2]"] = 5.3
PLUTO_dataset1_table4_without_charm["Q**2 [GeV**2] LOW"] = 1.5
PLUTO_dataset1_table4_without_charm["Q**2 [GeV**2] HIGH"] = 16
PLUTO_dataset1_table4_without_charm = PLUTO_dataset1_table4_without_charm[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Dataset2
# Table1.csv
PLUTO_dataset2_table1 = pd.read_csv("PLUTO_collaboration_data/dataset2/Table1.csv", skiprows = 12)
PLUTO_dataset2_table1["Q**2 [GeV**2]"] = 45.0
PLUTO_dataset2_table1["Q**2 [GeV**2] LOW"] = 0.0
PLUTO_dataset2_table1["Q**2 [GeV**2] HIGH"] = 0.0
PLUTO_dataset2_table1 = PLUTO_dataset2_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Table2.csv
PLUTO_dataset2_table2 = pd.read_csv("PLUTO_collaboration_data/dataset2/Table2.csv", skiprows = 12)
PLUTO_dataset2_table2["Q**2 [GeV**2]"] = 45.0
PLUTO_dataset2_table2["Q**2 [GeV**2] LOW"] = 0.0
PLUTO_dataset2_table2["Q**2 [GeV**2] HIGH"] = 0.0
PLUTO_dataset2_table2 = PLUTO_dataset2_table2[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA(C=MINUS CHARM)', 'error +', 'error -']]
# Table3.csv
PLUTO_dataset2_table3 = pd.read_csv("PLUTO_collaboration_data/dataset2/Table3.csv", skiprows = 12)
PLUTO_dataset2_table3["X"] = 0.5 * (0.3 + 0.8)
PLUTO_dataset2_table3["X LOW"] = 0.3
PLUTO_dataset2_table3["X HIGH"] = 0.8
PLUTO_dataset2_table3["Q**2 [GeV**2] LOW"] = 0.0
PLUTO_dataset2_table3["Q**2 [GeV**2] HIGH"] = 0.0
PLUTO_dataset2_table3 = PLUTO_dataset2_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA(C=MINUS CHARM)', 'error +', 'error -']]
# Table4.csv
PLUTO_dataset2_table4 = pd.read_csv("PLUTO_collaboration_data/dataset2/Table4.csv", skiprows = 12)
PLUTO_dataset2_table4["Q**2 [GeV**2]"] = 4.3
PLUTO_dataset2_table4["Q**2 [GeV**2] LOW"] = 0.0
PLUTO_dataset2_table4["Q**2 [GeV**2] HIGH"] = 0.0
PLUTO_dataset2_table4 = PLUTO_dataset2_table4[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA(C=MINUS CHARM)', 'error +', 'error -']]
# Table5.csv
PLUTO_dataset2_table5 = pd.read_csv("PLUTO_collaboration_data/dataset2/Table5.csv", skiprows = 12)
PLUTO_dataset2_table5["Q**2 [GeV**2]"] = 9.2
PLUTO_dataset2_table5["Q**2 [GeV**2] LOW"] = 0.0
PLUTO_dataset2_table5["Q**2 [GeV**2] HIGH"] = 0.0
PLUTO_dataset2_table5 = PLUTO_dataset2_table5[['X', 'X LOW', 'X HIGH', 'Q**2 [GeV**2]', 'Q**2 [GeV**2] LOW', 'Q**2 [GeV**2] HIGH', 'F2/ALPHA(C=MINUS CHARM)', 'error +', 'error -']]

In [10]:
# Import TASSO data
# Dataset1
# Table1.csv
TASSO_dataset1_table1_raw = pd.read_csv("TASSO_collaboration_data/dataset1/Table1.csv", skiprows = 11)
TASSO_dataset1_table1 = TASSO_dataset1_table1_raw[:][:5]
TASSO_dataset1_table1["Q**2 [GEV**2]"] = 23.0
TASSO_dataset1_table1["Q**2 [GEV**2] LOW"] = 7.0
TASSO_dataset1_table1["Q**2 [GEV**2] HIGH"] = 70.0
TASSO_dataset1_table1 = TASSO_dataset1_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
TASSO_dataset1_table1_without_charm = TASSO_dataset1_table1_raw[:][9:]
TASSO_dataset1_table1_without_charm["Q**2 [GEV**2]"] = 23.0
TASSO_dataset1_table1_without_charm["Q**2 [GEV**2] LOW"] = 7.0
TASSO_dataset1_table1_without_charm["Q**2 [GEV**2] HIGH"] = 70.0
TASSO_dataset1_table1_without_charm = TASSO_dataset1_table1_without_charm[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]

In [11]:
# Import TOPAZ data
# Dataset1
# Table1.csv
TOPAZ_dataset1_table1 = pd.read_csv("TOPAZ_collaboration_data/dataset1/Table1.csv", skiprows = 11)
TOPAZ_dataset1_table1["Q**2 [GEV**2]"] = 5.1
TOPAZ_dataset1_table1["Q**2 [GEV**2] LOW"] = 3.0
TOPAZ_dataset1_table1["Q**2 [GEV**2] HIGH"] = 10.0
TOPAZ_dataset1_table1 = TOPAZ_dataset1_table1[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +', 'sys -']]
# Table2.csv
TOPAZ_dataset1_table2 = pd.read_csv("TOPAZ_collaboration_data/dataset1/Table2.csv", skiprows = 11)
TOPAZ_dataset1_table2["Q**2 [GEV**2]"] = 16.0
TOPAZ_dataset1_table2["Q**2 [GEV**2] LOW"] = 10.0
TOPAZ_dataset1_table2["Q**2 [GEV**2] HIGH"] = 30.0
TOPAZ_dataset1_table2 = TOPAZ_dataset1_table2[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +', 'sys -']]
# Table3.csv
TOPAZ_dataset1_table3 = pd.read_csv("TOPAZ_collaboration_data/dataset1/Table3.csv", skiprows = 11)
TOPAZ_dataset1_table3["Q**2 [GEV**2]"] = 80.0
TOPAZ_dataset1_table3["Q**2 [GEV**2] LOW"] = 45.0
TOPAZ_dataset1_table3["Q**2 [GEV**2] HIGH"] = 130.0
TOPAZ_dataset1_table3 = TOPAZ_dataset1_table3[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'stat +', 'stat -', 'sys +', 'sys -']]
# Table4.csv
TOPAZ_dataset1_table4 = pd.read_csv("TOPAZ_collaboration_data/dataset1/Table4.csv", skiprows = 12)
TOPAZ_dataset1_table4["X"] = 0.5 * (0.3+0.8)
TOPAZ_dataset1_table4["X LOW"] = 0.3
TOPAZ_dataset1_table4["X HIGH"] = 0.8
TOPAZ_dataset1_table4["Q**2 [GEV**2] LOW"] = 0.0
TOPAZ_dataset1_table4["Q**2 [GEV**2] HIGH"] = 0.0
TOPAZ_dataset1_table4 = TOPAZ_dataset1_table4[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]
# Table5.csv
TOPAZ_dataset1_table5_light_quarks = pd.read_csv("TOPAZ_collaboration_data/dataset1/Table5.csv", skiprows = 12)
TOPAZ_dataset1_table5_light_quarks["X"] = 0.5 * (0.3+0.8)
TOPAZ_dataset1_table5_light_quarks["X LOW"] = 0.3
TOPAZ_dataset1_table5_light_quarks["X HIGH"] = 0.8
TOPAZ_dataset1_table5_light_quarks["Q**2 [GEV**2] LOW"] = 0.0
TOPAZ_dataset1_table5_light_quarks["Q**2 [GEV**2] HIGH"] = 0.0
TOPAZ_dataset1_table5_light_quarks = TOPAZ_dataset1_table5_light_quarks[['X', 'X LOW', 'X HIGH', 'Q**2 [GEV**2]', 'Q**2 [GEV**2] LOW', 'Q**2 [GEV**2] HIGH', 'F2/ALPHA', 'error +', 'error -']]

In [12]:
# Merge datasets
# ALEPH data
ALEPH_list = [ALEPH_dataset1_table4, ALEPH_dataset1_table6, ALEPH_dataset1_table8]
ALEPH_list2 = [ALEPH_dataset2_table1, ALEPH_dataset2_table2]
ALEPH_dataset1 = mergeDataSets(ALEPH_list)
ALEPH_dataset2 = mergeDataSets(ALEPH_list2)
# DELPHI data
DELPHI_list = [DELPHI_dataset1_table1, DELPHI_dataset1_table2]
DELPHI_data = mergeDataSets(DELPHI_list)
# TPC data
TPC_list = [TPC_dataset1_table1, TPC_dataset1_table2, TPC_dataset1_table3, TPC_dataset1_table4, 
            TPC_dataset1_table5, TPC_dataset1_table6, TPC_dataset1_table7, TPC_dataset1_table8, 
           TPC_dataset1_table9, TPC_dataset1_table10, TPC_dataset1_table11]
TPC_data = mergeDataSets(TPC_list)